<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="vinculacionTab">
      <ion-icon name="bluetooth"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="perfilTab">
      <ion-icon name="person-circle"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="programaTab">
      <ion-icon name="ellipsis-vertical"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="estadisticasTab">
      <ion-icon name="sync-circle-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
