ion-content ion-toolbar {
  --background: translucent;
  --ion-background-color:c#fff;
}

ion-content{
  --background: translucent;
  --ion-background-color:c#fff;
}

.ligth-background-color{
  --background: #f4f5f8;
  border-radius: 0 0 1rem 1rem;
}

.lista-bluetooth {
  margin: 2rem 1rem;
  background-color: #d7d8da;
  border-radius: 1rem;
}

.text-black {
  color: #222428;
}
